:root {
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-500: #64748b;
  --slate-700: #334155;
  --slate-900: #0f172a;
  --slate-950: #020617;

  --sky-300: #7dd3fc;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;

  --yellow-300: #fde047;
  --yellow-500: #eab308;
  --yellow-700: #a16207;

  --violet-500: #8b5cf6;

  --emerald-500: #10b981;

  --red-500: #ef4444;
}
